<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EDIT</title>
  </head>
  <body>
    <form method="POST" action="/comments/<%=required_comment.id%>?_method=PATCH" >
    <textarea name="new_comment" id="new_comment" cols="30" rows="10"><%=required_comment.comment%></textarea>
    <button> SAVE </button>
   
  </form>
  </body>                                      
</html>
