<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       

        <title>animals</title>
    </head>
    <body>
        <h1 style="background-color: aqua;">ADHI RAT KO KONSA JANVAR DEKHNA HA RA  </h1>
       
       <ul>
       <% for (let animal of animals)
       {%>
           
            <li><%= animal%> </li> 
           
       
       <%} %>
    </ul>
    </body>
</html>