<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       

        <title> ERROR404 </title>
    </head>
    <body>
        <h1 style="background-color: aqua;">ERROR 404 </h1>
        <h2>NO DATA AVAILABLE FOR <%=variable%> SUBREDDIT</h2>
    </body>
</html>