<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       

        <title>Home </title>
    </head>
    <body>
        <h1 style="background-color: aqua;">Hello Guys your random number is <%= rand %> </h1>
        <% if(rand%2===0){
            %> <p>  YOUR  NUMBER IS EVEN </p> <%
        }
        else
        {%> <p> YOUR NUMBER IS ODD </p> <%}
        %>
    </body>
</html>